/* 1st section */
* {
    margin: 0px;
}

.home-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    background-color: rgba(229, 84, 115, 0.10);
    position: relative;

}

.home-right-side {
    padding-right: 400px;
}

.title-right {
    margin: 20px 20px 20px 20px;
    width: 608px;
    flex-direction: column;
    color: #272727;
    font-size: 60px;
    font-weight: 800;
}

.text-pragraph {
    margin: 20px 20px 20px 20px;
    color: rgba(39, 39, 39, 0.60);
}

.button {
    margin: 10px 20px 20px 20px;
    padding: 10px 20px 10px 20px;
    border-radius: 8px;
    background: #E55473;
    color: #FFF;
    font-size: 20px;
    font-weight: 100;
    border: none;
}

.home-image {
    padding-right: 100px;
    width: 510px;
    height: 550px;
    position: absolute;
    right: 0;
    bottom: 0;

}

.title-container {
    text-align: center;
    margin-top: 60px;
}

.home-container-too {
    display: flex;
    gap: 50px;
    justify-content: space-around;
    padding: 100px 100px 100px 100px
}

.image-editor {
    width: 250px;
    height: 250px;
    margin-bottom: 20px;
}

.photo {
    text-align: center;

}

.image1 {
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
}

.image2 {
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
}

.image3 {
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
}

.anchor {
    color: black;
}

.home-container-three {
    display: flex;
    justify-content: space-around;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
}

.photo1 {
    width: 240px;
    height: 280px;
    padding-right: 100px;
    margin-top: 20px;
}

.home-left-side1 {
    text-align: center;
    margin-top: 100px;
}

.off {
    color: #E55473;
}

/* section for */
.title-section-for-container {
    background-color: #FFFFFF;
    text-align: center;
    margin-top: 50px;
}

.title-for {
    font-size: 30px;
}

.photo-container-for {
    display: flex;
    justify-content: space-around;
    gap: 15px;
    margin-right: 500px;
    margin-left: 500px;
    margin-bottom: 60px;
}

.p {
    width: 220px;
    height: 220px;
    padding-left: 10px 10px;
}


.section-fifth-container {

    text-align: center;
    background-image: url(image/Rectangle\ 9.png);
    border-radius: 8px;
    background-size: cover;
    width: 924px;
    margin-top: 10px;
    margin-left: 150px;
    margin-right: 200px;
    margin-bottom: 60px;
    padding-top: 50px;
    height: 200px;
}

.fifth-title {
    color: #272727;
    margin: 10px 10px;
    font-size: 30px;
    font-weight: 30px;
    font-style: bold;

}

.input-data {
    border-radius: 2px;
    background: #FFF;
    border: 0px;
    padding: 10px 10px;
    width: 350px;
    margin-top: 25px;
}

.text-title {
    color: #27272799;
}

.btn-fifth {
    border-radius: 8px;
    background: #E55473;
    color: #FFF;
    border: none;
    padding: 5px 10px;
    font-size: 20px;


}

/* last footer section */
.footer-container {
    text-align: center;
    background-color: #111010;
    color: #FFF;
    padding: 30px 20px 20px 20px;
}

.footer-title {
    color: #E55473;
}

.footer-destription {
    color: rgba(255, 255, 255, 0.40);
    font-size: 16px;
    font-weight: 400;
}